@media screen and (max-width: 1200px)
{
    body .circleDiv{width: 75px; height:75px; border: 7.5px solid #f7faff;}
    body #joyce{background-size:110px 110px;}
    body #shezan{background-size:110px 110px;}
    body #irene{background-size:110px 110px;}



}
@media screen and (max-width: 900px)
{
    body .circleDiv{width: 60px; height:60px; border: 6px solid #f7faff;}
    body #joyce{background-size:80px 80px;}
    body #shezan{background-size:85px 85px;}
    body #irene{background-size:90px 90px;}

}

@media screen and (max-width: 600px)
{
  body .circleDiv{width: 50px; height:50px; border: 5px solid #f7faff;}
  body #joyce{background-size:70px 70px;}
  body #shezan{background-size:75px 75px;}
  body #irene{background-size:70px 70px;}


}

.circleDiv {
    border-radius: 50%;
    width:100px;
    height:100px;
    border: 10px solid #f7faff;
    position: absolute;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center;
    z-index:1;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    transition: all 0.4s ease;
    cursor:pointer;
    opacity: 100%;

    visibility: visible;
    /*display:inline;*/
}

.circleDiv:hover
{
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  transform: scale(1.07, 1.07);
  border-color: white;
}

.circleDiv.close
{
  transform: scale(0.1, 0.1);
  visibility: hidden;

  opacity: 0;
}

#shezan
{
  background-image: url("../assets/shezan_small-01.png");
  background-size: 140px 140px;
}

#irene
{
  background-image: url("../assets/irene_small-01.png");
  background-size: 125px 125px;
}

#joyce
{
  background-image: url("../assets/joyce_small-01.png");
  background-size: 125px 125px;
}
