@media screen and (max-width: 1200px)
{
  body .nodeBtnInner
  {
    width:65px;
    height:65px;
    vertical-align: middle;
  }
}
@media screen and (max-width: 900px)
{
  body .nodeBtnInner
  {
    width:55px;
    height:55px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 600px)
{
  body .nodeBtnInner
  {
    width:50px;
    height:50px;
    vertical-align: middle;
  }
}


body {
  background-color:white;
  font-family: 'Lato', sans-serif;
}
/*------main-------*/
#map
{
  z-index:0.9;
}

#container {
  height:801px;
  overflow:visible;
  padding:0;
  /*position:relative;*/
}

.nodeBtnInner
{
  border-radius: 50%;
  width:75px;
  height:75px;
  background-color:#ee4036;
  display:inline-block;
  -webkit-box-shadow: 0px 0.5px 7px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0.5px 7px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0.5px 7px 0px rgba(0,0,0,0.5);
  transition: 0.32s;
}

.nodeBtnInner:hover
{
  border-radius: 50%;
  background-color:#ff4c42;
  display:inline-block;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.35);
  transform: scale(1.05, 1.05)
}

.nodeBtnInner:active
{
  border-radius: 50%;
  background-color:#ed3e34;
  display:inline-block;
  -webkit-box-shadow: 0px 0.3px 5px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0.3px 5px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 0.3px 5px 0px rgba(0,0,0,0.8);
  transform: scale(0.98, 0.98)
}

#main img {
    width:100%;
}
.box {
/* background-color: #91e600; */
	z-index: 2;
    text-align: center;
	font-family: Asap, Avenir, Arial, sans-serif;
	width: 50px;
	height: 50px;
	line-height: 100px;
	color: black;
	position: absolute;
	top:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}


.slider {
    background-image:url(
    ../assets/Timeline_BarwithBall.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin:0px;
    padding: -2px;
    pointer-events: none;
	   background-size: 100%;

}

.slider a{
}

.box img {
    height:100%;
    width:100%;
}

.controls {
	background-color: #222;
	border: 1px solid #555;
	color: #bbb;
	font-size: 18px;
  margin: 20px 0;
}
.controls ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.controls li {
	display: inline-block;
	padding: 8px 0 8px 10px;
	margin:0;
}
.controls input {
  vertical-align:middle;
  cursor: pointer;
}
.controls .controlsTitle {
  border-right:1px solid #555;
  border-bottom:none;
  padding-right:10px;
}
